<header>

  <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <a class="navbar-brand" href="#"><strong>AppName</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <ul class="navbar-nav mr-auto col-md-4 offset-md-10">
        <li class="nav-item ">
          <a class="nav-link" href="#"><fa name="facebook" size="lg"></fa></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><fa name="instagram"  size="lg"></fa></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><fa name="twitter"  size="lg"></fa></a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="view intro hm-purple-light" style="height: 100px;"></div>

</header>
